<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="5">
    <Properties>
    <Property name="HOSTNAME">${env:HOSTNAME}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d ${HOSTNAME} ignite: [priority='%p' thread='%t' class='%c@%L'] %m%n"/>
        </Console>
<!--
        <RollingFile name="file" fileName="ignite.log" filePattern="ingite-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>%d %-5p [%t] [%c@%L] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
-->

        <RollingRandomAccessFile name="file" fileName="ignite.log" filePattern="ingite-%d{yyyy-MM-dd-hh}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601}Z ${HOSTNAME} ignite: [priority='%p' thread='%t' class='%c@%L'] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 GB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="com.scottieknows" level="INFO"/> 
        <Logger name="org.apache.ignite" level="INFO"/> 
        <Root level="info" additivity="false">
            <AppenderRef ref="file"/>
<!--            <AppenderRef ref="console"/> -->
        </Root>
    </Loggers>
</Configuration>
